body {
    background-image: url("../images/LightsDifference.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    background-color: rgb(0,0,0);}