*{
}

h1 {
    font-family: 'Amaranth', sans-serif;}
h2 {
    font-family: 'Amaranth', sans-serif;}
h3 {
    font-family: 'Amaranth', sans-serif;}
p {
    font-family: 'Josefin Sans', sans-serif;}
li {
    font-family: 'Josefin Sans', sans-serif;}