*{
}

h1, h2, h3 {
    font-family: 'Amaranth', sans-serif;
    color: white;}
p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;}
li {
    font-family: 'Josefin Sans', sans-serif;
    color: white;}