h1, h2, h3 {
    font-family: 'Amaranth', sans-serif;
    color: white;
}
h2.bio {
    text-align: center;
}
.footer {
    text-align: center;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;}
p.bio {
    text-align: center;
}
ul {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
}
li {
    font-family: 'Josefin Sans', sans-serif;
    color: white;}
table.hackathons {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
